<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/img/user.png" style="width: 80px; height: 80px;" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="userEmail" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="pswd" [(ngModel)]="password" placeholder="password">
      <input type="submit" (click)="userLogin()" class="fadeIn fourth" value="Log In">
    </form>

    <!-- User Register -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/register">Don't have an Account? Register Here</a>
    </div>

  </div>
</div>